h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, a, a:visited, .video-image .video-image-overlay a .ion, ul.list-icon li .ion, .post-heading-left .ion, .post-heading-center .ion, .post-heading-center-big .ion, #header .nav > li > a:hover, #header .nav > li.active > a, .affa-feature-icon .ion, .affa-feature-icon-center .ion, .affa-feature-icon-center2 .ion, .affa-testimonial .testimonial-name h4, #footer .footer-copyright .footer-socials a:hover { color:#06ae06; }

a:hover { color:#707070; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, .ie input[type="range"]:focus, .ie9 input[type="range"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus, .carousel-slider .slick-dots li button:hover, .carousel-slider .slick-dots li.slick-active button, .affa-feature-icon-center2:hover .ion { border-color:#06ae06; }

.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button, .carousel-slider.testimonials-row .slick-prev:hover, .carousel-slider.testimonials-row .slick-next:hover, .affa-step:hover h4 span, .tbl-pricing .tbl-prc-col.tbl-prc-col-recommended, .tbl-pricing .tbl-prc-col .btn-custom:hover, #footer .scrollup:hover { background-color:#06ae06; }

.btn-custom:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover { background-color:#0bc40b; }

.video-image .video-image-overlay a:hover .ion { color:#0bc40b; }

.nav-tabs.nav-tabs-custom > li.active > a, .nav-tabs.nav-tabs-custom > li.active > a:hover, .nav-tabs.nav-tabs-custom > li.active > a:focus { border-bottom-color:#06ae06; }

#header .nav > li.menu-btn > a:hover, #header .nav > li.menu-btn.active > a {
	color:#06ae06;
	border-color:#06ae06;
}
#header .navbar.affix .nav > li.menu-btn > a:hover, #header .navbar.affix .nav > li.menu-btn.active > a {
	background-color:#06ae06 !important;
	border-color:#06ae06;
}

.tbl-pricing .tbl-prc-col.tbl-prc-col-recommended .btn-custom { color:#06ae06 !important; }

@media (max-width: 767px) {
	
	.nav-tabs.nav-tabs-custom > li.active > a, .nav-tabs.nav-tabs-custom > li.active > a:hover, .nav-tabs.nav-tabs-custom > li.active > a:focus { border-bottom-color:#06ae06; }
	
}